.footer {
    background-color: #d4f4cd;
    color: black;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    padding: 25px 0;

    position: fixed;
    bottom: 0;
    width: 100%;
}