@charset "UTF-8";

body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    place-content: center;
    grid-auto-flow: column;
}

.navbar {
    background-color: #E5D3B3;
    color: black;
    height: 50px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar li {
    display: flex;
}

.navbar li:first-child {
    margin-right: auto;
}

.navbar li:last-child {
    margin-left: auto;
    margin-right: 0;
    right: 0;
    top: 0;
    transform: translate(0, 0);
}

.navbar li a {
    text-decoration: none;
    padding: 10px;
    color: inherit;
}

.navbar li a:hover {
    color: white;
    background-color: #80471C;
}

.navbar li.active {
    background-color: #80471C;
}

nav > div > ul > li ul {
    visibility: hidden;
    position: absolute;
    top: 105%;
    transition: 0.2s 1s;
}

nav > div > ul > li:hover ul {
    visibility: visible;
    transition-delay: 0s;
}

.order-3 {
    justify-content: right;
}
.nav-link {
    color: white;
    cursor: pointer;
    border-radius: 20px;
}

.navbar-brand {
    width: 100px;
    height: 100px;
    right: 0.5em;
    top: 2em;
    background: none;
    border: none;
    border-radius: 50%;
    position: relative;
    z-index: 1000;
    transition: .3s;
    cursor: pointer;
}

.navbar-brand:before {
    content: "";
    position: absolute;
    inset: -10px;
    padding: 5px;
    border-radius: 50%;
    background: conic-gradient(
            #67df1d,
            #0000 70deg 110deg,
            #ffffff 160deg 180deg,
            #0000 250deg 290deg,
            #67df1d 340deg
    );
    -webkit-mask-composite: xor;
    mask-composite: intersect
}

.navbar-brand:before
    /*.navbar-brand:after */
{
    transition: .5s, 99999s 99999s transform;
}

.navbar-brand:hover {
    box-shadow: 0 0 0 1px #666;
}

.navbar-brand:hover:before {
    transform: rotate(36000deg);
    transition: .5s, 600s linear transform;
}

.navbar-brand:before {
    background-color: #222;
    border: 2px solid #333;
}


.navbar-brand > img {
    border-radius: 50%;
    position: relative;
    right: 2px;
    bottom: 6px;
    width: 102.5px;
}

@media (max-width: 768px) {
    .container {
        transform: translate(0, -32%);
    }
}




