wrapper .left,
.wrapper .right {
    height: 50vh;
    width: 100%;
}

.wrapper .image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.dog {
    background: url('img/dog.jpg');
}
.cat {
    background: url('img/cat.jpg');
}

@media screen and (min-width: 1200px)
{
    .wrapper {
        display: flex;
    }

    .wrapper .left,
    .wrapper .right {
        height: 100vh;
        width: 50%;
    }
}






/*.left-side, .right-side {*/
/*    height: 50vh;*/
/*    width: 100%;*/
/*}*/

/*@media screen and (min-width: 768px){*/
/*    .left-side, .right-side {*/
/*        height: 100vh;*/
/*    }*/
/*}*/